<loading-spinner *ngIf="gettingData"></loading-spinner>
<div class="container mt-3" infinite-scroll (scrolled)="onScrollDown($event)">
  <div class="row">
    <div class="col-xl-2" *ngFor="let asset of _assets">
      <div class="card position-relative">
        <div class="card-header small" *ngIf="asset.name; else token"
             [matTooltip]="asset.name ? asset.name : ''"
             [matTooltipDisabled]="asset.name ? asset.name.length <= 15 : true"
             [matTooltipPosition]="'above'">
          {{ (asset.name ? asset.name.length > 15 : false) ? (asset.name | slice:0:15)+'...' :(asset.name) }}
        </div>
        <ng-template #token>
          <div class="card-header small"
             [matTooltip]="asset.token_id ? asset.token_id : ''"
             [matTooltipDisabled]="asset.token_id ? asset.token_id.length <= 15 : true"
             [matTooltipPosition]="'above'">
          {{ (asset.token_id ? asset.token_id.length > 15 : false) ? (asset.token_id | slice:0:15)+'...' :(asset.token_id) }}
        </div>
        </ng-template>
        <div class="card-img-top pull-left">
          <img src={{asset.image_preview_url}} class="img-thumbnail" style="cursor: pointer;" (click)="openDetails(asset)">
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
