<div class="container">
  <div class="row" *ngIf="assets">
    <div class="col-xl-3
                col-lg-3
                col-md-4
                col-sm-6
                col-12"
          *ngFor="let asset of _assets">
      <div class="card position-relative">
        <div class="card-header small">
          {{asset.name}}
        </div>
        <div class="card-body pull-left">
          <img src={{asset.image_url}} class="img-thumbnail" (click)="openCollection(asset)">
        </div>
      </div>
      <br />
    </div>
  </div>
