<div class="card">
  <div class="card-header text-white">
    {{this.assetDetails.name}}
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-4">
          Owned by
        </div>
        <div class="col" *ngIf="this.assetDetails.owner !== 'NullAddress'; else elseBlock">
          {{this.assetDetails.owner}}
        </div>
        <ng-template #elseBlock>
          <div class="col">
            No owner
          </div>
        </ng-template>
      </div>
      <div class="row">
        <div class="col-4">
          Contract Address
        </div>
        <div class="col">
          <a [href]="this.assetDetails.etherscan">{{ this.assetDetails.contractAddress }}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          Token ID
        </div>
        <div class="col">
          {{ (this.assetDetails.tokenId.length > 30) ? (this.assetDetails.tokenId | slice:0:30) + '...' : (this.assetDetails.tokenId) }}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          Created date
        </div>
        <div class="col">
          {{ this.assetDetails.createdDate }}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          Creator
        </div>
        <div class="col">
          {{ this.assetDetails.creator }}
        </div>
      </div>
    </div>
  </div>
</div>
