<mat-list role="list">
  <div class="row">
    <div class="col-4">
      <mat-list-item role="listitem">Name</mat-list-item>
    </div>
    <div class="col">
      <mat-list-item role="listitem" *ngIf="this.assetDetails.name; else elseBlock">
        {{this.assetDetails.name}}
      </mat-list-item>
      <ng-template #elseBlock>
        <mat-list-item>N/A</mat-list-item>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-list-item role="listitem">Owned by</mat-list-item>
    </div>
    <div class="col">
      <mat-list-item role="listitem" *ngIf="this.assetDetails.owner">
        <a [href]="this.ownerEtherscan">
          {{this.assetDetails.owner}}
        </a>
      </mat-list-item>
      <mat-list-item role="listitem" *ngIf="!this.assetDetails.owner && this.assetDetails.ownerAddress">
        <a [href]="this.ownerEtherscan">
          {{this.assetDetails.ownerAddress}}
        </a>
      </mat-list-item>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-list-item role="listitem">Contract Address</mat-list-item>
    </div>
    <div class="col">
      <mat-list-item role="listitem">
        <a [href]="this.assetDetails.etherscan">
          {{ this.assetDetails.contractAddress }}
        </a>
      </mat-list-item>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-list-item role="listitem">Token ID</mat-list-item>
    </div>
    <div class="col">
      <mat-list-item role="listitem">
        {{ (this.assetDetails.tokenId.length > 30) ? (this.assetDetails.tokenId | slice:0:30) + '...' : (this.assetDetails.tokenId) }}
      </mat-list-item>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-list-item role="listitem">Created date</mat-list-item>
    </div>
    <div class="col">
      <mat-list-item role="listitem">
        {{ this.assetDetails.createdDate }}
      </mat-list-item>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-list-item role="listitem">Creator</mat-list-item>
    </div>
    <div class="col">
      <mat-list-item role="listitem">
        {{ this.assetDetails.creator }}
      </mat-list-item>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-list-item role="listitem">Description</mat-list-item>
    </div>
    <div class="col">
      <mat-list-item role="listitem">
        {{ this.assetDetails.description }}
      </mat-list-item>
    </div>
  </div>
</mat-list>
