<div class="card">
  <div class="card-header text-white">
    Traits
  </div>
  <div class="card-body">
    <div class="container" *ngIf="traits.length > 0; else elseBlock">
      <div class="row">
        <div class="col">
          <div class="container">
            <div class="row" *ngFor="let trait of traits">
              {{trait.trait_type}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container">
            <div class="row" *ngFor="let trait of traits">
             {{trait.value}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="">
        No traits
      </div>
    </ng-template>
  </div>
</div>
