<div class="main">
  <img *ngIf="collectionDetails.banner_image_url; else imageWallpaperElse"
       [src]="collectionDetails.banner_image_url"
       class="img-wallpaper cover">
  <ng-template #imageWallpaperElse>
    <img src="../../../assets/No_image_available.png"
         class="img-wallpaper cover">
  </ng-template>
  <img *ngIf="collectionDetails.image_url; else imageElse"
       [src]="collectionDetails.image_url"
       class="img-fluid img-profile profile"
       style="cursor: pointer;"
       mat-raised-button
       (click)="openDialog()">
  <ng-template #imageElse>
      <img src="../../../assets/No_image_available.svg"
           class="img-fluid img-profile profile"
           style="cursor: pointer;"
           mat-raised-button
           (click)="openDialog()">
      </ng-template>
</div>
<h3>{{collectionDetails.name}}</h3>
<div>
  <app-expand-text [description]="collectionDetails.description" [truncateSize]="130"></app-expand-text>
</div>
<br>
<div>
  <div class="inline">
    <span>
      <h4 class="mb-0">{{collectionDetails.items_count}}</h4>
    </span>
    <span>
      items
    </span>
  </div>
  <div class="inline ms-5">
    <span>
      <h4 class="mb-0">{{collectionDetails.num_owners}}</h4>
    </span>
    <span>
      owners
    </span>
  </div>
  <div class="inline ms-5">
    <span>
      <div class="image-txt-container">
        <img [src]="collectionDetails.eth_picture" style="height: 20px;">
        <h4 class="mb-0 ps-1">{{collectionDetails.floor_price}}</h4>
      </div>
    </span>
    <span>
      floor price
    </span>
  </div>
  <div class="inline ms-5">
    <span>
      <div class="image-txt-container">
        <img [src]="collectionDetails.eth_picture" style="height: 20px;">
        <h4 class="mb-0 ps-1">{{collectionDetails.total_volume}}</h4>
      </div>
    </span>
    <span>
      total volume
    </span>
  </div>
  <div class="inline ms-5">
    <span>
      <h4 class="mb-0 text-dark">
        {{collectionDetails.payout_address}}
        <a [href]="etherscan"
           [matTooltip]="'Open address in etherscan'"
           [matTooltipPosition]="'above'"
           *ngIf="collectionDetails.payout_address; else elseBlock"
           style="color: #673ab7;">
          <fa-icon [icon]="faIconExternalLink"></fa-icon>
        </a>
      </h4>
      <ng-template #elseBlock>
        <div>
          <h4 class="mb-0">N/A</h4>
        </div>
      </ng-template>
    </span>
    <span>
      payout address
    </span>
  </div>
</div>
