<loading-spinner *ngIf="gettingData"></loading-spinner>
<div class="container">
  <div class="row" *ngIf="asset">
    <div class="col">
      <div class="card-img-top">
        <img [src]="asset.image_url">
      </div>
      <div class="card-body" *ngIf="asset.description; else elseBlock1">
        {{asset.description}}
      </div>
      <ng-template #elseBlock1>
        <div class="card-footer">
          No description
        </div>
      </ng-template>
    </div>
    <div class="col">
      <button class="btn btn-info" (click)="openCollection()">Open Collection</button>
      <asset-details [name]="asset.name" [owner]="asset.owner.user.username"
        [contractAddress]="assetContractAddress" [tokenId]="tokenId"
        [etherscan]="etherscan" [creator]="asset.creator.user.username"
        [createdDate]="asset.asset_contract.created_date"></asset-details>
      <br>
      <asset-traits [traits]="asset.traits"></asset-traits>
    </div>
  </div>
</div>
